@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.hero-section .top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 170px;
  background: #eeeeee;
}
.hero-section .top-bar .info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.hero-section .top-bar .info a p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}
.hero-section .top-bar .menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.hero-section .top-bar .menu ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}
.hero-section .top-bar .menu ul #heart {
  list-style: none;
}
.hero-section .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 20px 190px;
}
.hero-section .navbar .logo a {
  font-size: 20px;
  color: #212121;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.hero-section .navbar .menus ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}
.hero-section .navbar .menus ul li a {
  font-size: 14px;
  color: #757575;
}
.hero-section .navbar .icons {
  display: flex;
  gap: 20px;
  font-size: 14px;
}
.hero-section .navbar .icons .search,
.hero-section .navbar .icons .user,
.hero-section .navbar .icons .cart {
  text-align: center;
}
.hero-section .banner {
  display: flex;
  flex-direction: row;
}
.hero-section .banner .left-row {
  margin-top: 40px;
  width: 6vw;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .banner .left-row .arrow-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  rotate: 270deg;
}
.hero-section .banner .left-row .arrow-text p {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.hero-section .banner .left-row .arrow-text span {
  background: #424242;
  color: #ffffff;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}
.hero-section .banner #big {
  background: #ffffff;
}
.hero-section .banner .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 30px;
  width: 88vw;
  height: 90vh;
  background: #f5f5f5;
}
.hero-section .banner .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero-section .banner .container .content p {
  font-size: 22px;
  color: #424242;
}
.hero-section .banner .container .content h2 {
  color: #424242;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
}
.hero-section .banner .container .content #price {
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.hero-section .banner .container .content #price span {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.hero-section .banner .container .content .button {
  margin-top: 30px;
  padding: 15px 35px;
  background: #212121;
}
.hero-section .banner .container .content .button p {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.hero-section .banner .container .imgbx {
  width: 600px;
  height: auto;
}
.hero-section .banner .container .imgbx img {
  width: 100%;
}
.hero-section .banner .container .slider {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.hero-section .banner .container .slider .sliderimg {
  width: 200px;
  height: 120px;
  background: rgba(66, 66, 66, 0.6705882353);
  position: relative;
}
.hero-section .banner .container .slider .sliderimg img {
  width: 100%;
}
.hero-section .banner .container .slider .sliderimg .content {
  position: absolute;
  top: 50px;
  left: 20px;
}
.hero-section .banner .container .slider .sliderimg .content p {
  font-size: 12px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.hero-section .banner .container .slider .sliderimg .content h4 {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
}
.hero-section .banner .container .slider .sliderbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .banner .container .slider .sliderbtn .left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424242;
  width: 100px;
  border-right: 1px solid #ffffff;
  padding: 10px;
}
.hero-section .banner .container .slider .sliderbtn .arrow {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.feature {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.feature .left-row {
  width: 6vw;
  height: 75vh;
  background: #eeeeee;
}
.feature .container {
  background: #ffffff;
  width: 94vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
}
.feature .container .coffee-table {
  position: relative;
}
.feature .container .coffee-table .imgbx {
  width: 280px;
  height: auto;
}
.feature .container .coffee-table .imgbx img {
  width: 100%;
}
.feature .container .coffee-table .content {
  position: absolute;
  top: 18px;
  left: 16px;
}
.feature .container #color-table,
.feature .container .first {
  background: #f5f5f5;
}

.feature-product {
  background: #eeeeee;
}
.feature-product .container {
  padding: 30px 30px;
}
.feature-product .container .top-row {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 100px;
}
.feature-product .container .top-row .menus button {
  padding: 10px 18px;
  border: none;
  background: #ffffff;
  color: #616161;
  border-radius: 4px;
}
.feature-product .container .products .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.feature-product .container .products .row .card .container .firstbx {
  position: relative;
}
.feature-product .container .products .row .card .container .firstbx .imgbx {
  background: #f5f5f5;
  width: 230px;
  height: auto;
}
.feature-product .container .products .row .card .container .firstbx .imgbx img {
  width: 100%;
}
.feature-product .container .products .row .card .container .firstbx .imgbx .new {
  background: #212121;
  color: #ffffff;
}
.feature-product .container .products .row .card .container .firstbx .cartbx {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 5px;
  position: absolute;
  bottom: 5px;
}
.feature-product .container .products .row .card .container .firstbx .cartbx h3 {
  font-size: 12px;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
.feature-product .container .products .row .card .container .firstbx .cartbx i {
  font-size: 12px;
  background: #ffffff;
  padding: 5px;
  border-radius: 50%;
}
.feature-product .container .products .row .card .container .contentbx {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  width: 230px;
  padding: 10px;
}
.feature-product .container .products .row .card .container .contentbx .txt {
  display: flex;
  justify-content: space-between;
}
.feature-product .container .products .row .card .container .contentbx .txt #percent {
  background: #212121;
  padding: 2px;
  color: #FFFFFF;
  font-size: 14px;
}
.feature-product .container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-product .container .btn button {
  padding: 10px 20px;
}/*# sourceMappingURL=Style.css.map */